body{
    margin:0px;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;          
}

/* main */
.below-nav-whole{ 
    display:flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.post-uploaded-portion{
    max-width:450px; 
    overflow-y: scroll; 
    scroll-behavior: smooth; 
    height: 650px
}

.post-uploaded-portion::-webkit-scrollbar{
    display: none;
}

/* right-side */
.right{
    color: azure;
    width: 20%; 
    padding: 1%; 
    background-color: #47b5ff34;
}

.suggestions{
    color: #00E7FF;
    padding: 1%;
    
}

.home-user{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: contain;
    background-color: azure;
    margin-right: 10px;
}

.suggested-friends{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin-top: 10px;
}

.sugesstion-friend-left{
    display: flex; 
    align-items: center;
}

.suggestion-friend-right{
    color: #62B6B7;
}

.my-account{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.logout{
    color: #62B6B7;
}

span{
    padding-left: 2px;
}

/* center-portion */
.centre-portion{
    display:flex; 
    flex-direction:column; 
    height:auto;  
    margin: auto;
}

/* nav-bar(left,top) */
.bg-change:nth-child(1){
    background-color:#FB2576;
}

.side-bar-icon:nth-child(1){
    background-color: #CB1C8D;
}